.idea
.claude
__pycache__/


sys_python/.idea
sys_python/.venv
sys_python/app.log
sys_python/credential/credential.json
sys_python/dist/
sys_python/build/
sys_python/music_backend.spec

backend/.venv
backend/.env
backend/app.log
backend/app/credential/credential.json

sys_vue/dist
sys_vue/node_modules
sys_vue/.env.development
sys_vue/.env.production

sys_electron/dist/
sys_electron/release/
sys_electron/node_modules/

app.log
启动后端.bat
启动前端.bat
