.idea
.claude
__pycache__/


sys_python/.idea
sys_python/.venv
sys_python/app.log
sys_python/credential/credential.json

sys_vue/dist
sys_vue/node_modules
sys_vue/.env.development
sys_vue/.env.production

app.log
start_backend.bat
start_frontend.bat
启动后端.bat
启动前端.bat
