.local-music-container {
  padding: 20px;
  height: 100%;
  margin-bottom: 60px;
  .header {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
  }
  .loading-progress {
    margin: 20px 0;
    width: 80%;
    max-width: 600px;
  }

  :deep(.el-loading-mask) {
    background-color: rgba(255, 255, 255, 0.8);
    .el-loading-spinner {
      .path {
        stroke: var(--el-color-primary);
      }
    }
  }
  .music-table {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);

    :deep(.el-table__row) {
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: #f5f7fa;
      }
    }
.song-cover{
  border-radius: 0.5em;
}
    .song-title {
      display: flex;
      align-items: center;
      gap: 12px;

      .text {
        font-weight: 500;
        color: var(--el-color-primary);
      }
    }
  }
}
